*, *::before, *::after{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}


      /* BACKGROUND COLOR*/
.background-ff{
  background-color: #fff;
}
.background-00{
  background-color: #000;
}
.background-a0{
  background-color: #A04D07;
}
.background-f3{
  background-color: #f3f3f3;
}
.background-d3{
  background-color: #d3d3d3;
}

        
        /* TEXT COLOR */
.txt-ff{
  color: #fff;
}
.txt-00{
  color: #000;
}
.txt-73{
  color: #737373;
}


      /* FONT SIZE */
.ff-43{
  font-size: 43px;
}
.ff-17{
  font-size: 17px;
}
.ff-16{
  font-size: 16px;
}
.ff-23{
  font-size: 23px;
}
.ff-19{
  font-size: 19px;
}
.ff-13{
  font-size: 13px;
}


      /* FONT WEIGHT */
.ff-300{
  font-weight: 300;
}
.ff-400{
  font-weight: 400;
}
.ff-500{
  font-weight: 500;
}
.ff-600{
  font-weight: 600;
}
.ff-700{
  font-weight: 700;
}
.ff-800{
  font-weight: 800;
}
.ff-900{
  font-weight: 900;
}