.heightAdjustment{
    height: 50vh;
}
.container-adjustment-special-case{
    padding: 26px 30px;
}
@media (max-width: 1024px){
    .container-adjustment-special-case{
        padding: 10px 10px;
    }
    .styling-gap{
    max-height:12px;
}
}
.iconShrink{
    width: 57px;
}
.arrowShrink{
    width: 80px;
}
.styling-gap{
    height: 40vh;
    max-height:80px;
}